<robot name="my_sensors" xmlns:xacro="http://wiki.ros.org/xacro">
  <!-- 雷达 -->
  <gazebo reference="laser">              <!-- 与机器人模型中雷达连杆的名称相同 -->
    <sensor type="ray" name="rplidar">    <!-- 设置雷达的类型 -->
      <pose>0 0 0 0 0 0</pose>            <!-- 设置雷达的位姿（偏移量和偏航角度） -->
      <visualize>true</visualize>         <!-- true:在gazebo中显示射线 -->
      <update_rate>5.5</update_rate>      <!-- 雷达射线更新的频率 -->
      <ray>
        <scan>
          <horizontal>
            <samples>360</samples>        <!-- 雷达旋转一周发射的射线 -->
            <resolution>1</resolution>    <!-- 分辨率n：每n条射线有一个测距，可以降低仿真环境的负载 -->
            <min_angle>-3</min_angle>     <!-- 设置雷达的采样范围 -->
            <max_angle>3</max_angle>
          </horizontal>
        </scan>
        <range>
          <min>0.10</min>                  <!-- 设置雷达的有效范围 -->
          <max>30.0</max>
          <resolution>0.01</resolution>    <!-- 采样精度 -->
        </range>
        <noise>
          <type>gaussian</type>            <!-- 高斯噪音，模拟误差 -->
          <mean>0.0</mean>
          <stddev>0.01</stddev>
        </noise>
      </ray>
      <plugin name="gazebo_rplidar" filename="libgazebo_ros_laser.so">
        <topicName>/scan</topicName>          <!-- 雷达发布消息的话题，在rviz中可以显示雷达信息 -->
        <frameName>laser</frameName>          <!-- 雷达坐标系 -->
      </plugin>
    </sensor>
  </gazebo>
</robot>